

template(name='needs')
    .ui.hidden.divider
    if currentUser
        .ui.label
            i.user.icon
            |#{currentUser.username}
        // #add_need.ui.icon.button
        //     i.large.plus.icon
        a#logout.ui.icon.right.floated.button(href='#' data-tooltip='Sign Out') 
            i.large.sign.out.icon
    else
        a.ui.icon.right.floated.button(href='/sign-in' data-tooltip='Sign In') 
            i.large.sign.in.icon
    if currentUser
        |I need...
        .ui.icon.input
            input#quick_add(type='text')
            i.plus.icon
    +tag_cloud
    +username_cloud
    .ui.stackable.centered.cards
        each needs
            +need_card

template(name='need_card')
    .ui.card
        .content
            each tags
                .ui.button.need_tag(class=need_tag_class) #{this}
            .div
                | by #{author.username} #{when}
            if can_edit
                a.ui.icon.button(href="/edit_need/#{_id}")
                    i.pencil.icon.icon