

template(name='tribe_deeds')
    .ui.container.basic.segment
        .ui.center.aligned.header Deeds
        .ui.four.stackable.cards
            each tribe_deeds
                +deed_card

template(name='deed_card')
    .ui.basic.segment
        .content
            a(href="/view_deed/#{_id}")
                .image
                    img.ui.large.centered.image(src="{{c.url image_id }}")
            .meta
                each tags
                    .ui.button.tag(class=tag_class) #{this}
            if can_edit
                .edit.ui.icon.basic.button
                    i.pencil.icon.icon
            else
                | by #{author.username} #{when}
            // +user_blurb