template(name='view_tribe')
    with tribe
        .ui.container.grid
            .row
                .four.wide.column
                    a.ui.basic.button(href='/tribes')
                        i.left.arrow.icon
                        |Tribes
                .twelve.wide.column
                    .ui.center.aligned.header View #{name} Tribe
            .row
                .four.wide.column
                    .ui.header Tribe Settings
                    if in_tribe
                        #leave_tribe.ui.basic.button
                            i.sign.out.icon
                            | Leave Tribe
                    else
                        #join_tribe.ui.basic.button
                            i.sign.in.icon
                            | Apply to Join
                .twelve.wide.column
                    .ui.header Name: #{name}
                    each tags
                        .ui.label #{this}
                    .ui.header Members
                    .ui.list
                        each members
                            .item
                                .header #{username}
                                .meta
                                    each tags
                                        .ui.basic.label #{this}
                        
                    a.ui.basic.button(href="/edit_tribe/#{_id}") Edit Tribe