.ui.segment
    with person
        .ui.center.aligned.header Author 
        .ui.tiny.image
            a(href="/profile/view/#{_id}")
                img(src="{{c.url profile.image_id width=300 height=300 gravity='face' crop='fill'}}")
        .content
            .header
                a(href="/profile/view/#{_id}") #{profile.name} #{username}
            .meta
                |#{credits} credits
            .description
                p #{bio}
            .extra
                each tags
                    .ui.tiny.compact.basic.label #{this}
